body {
    background-color: #C3E0E5;
}



.container {
    height: 700px;
    width: 100%;
    margin-top: -10px;
    background: url(../images/sky-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {

    font-family: Playfair Display, sans-serif;
    font-size: 36px;
    color: #cbd18f;
    text-align: center;
    padding-top: 5%;
}