body {
    background-color: #C3E0E5;
}

nav {
    margin-top: -30px;
    height: 60px;
    display: block;
    background-color: whitesmoke;
    
}

.text-center {text-align: center;}

ul {
    list-style-type: none;
    margin: 30px;
    padding: 20px;
    
  }

  li {
    display: inline;
  }

  li > a {
    
    text-decoration: none;
    color: #3b7c83;
    margin: 8rem;
}

.nav-links > a {
    text-transform: uppercase;
    margin-top: 15px;
}

.nav-links a:hover {
    background-color: whitesmoke;
    color: orangered;
}



.container {
    height: 600px;
    width: 100%;
    background: url(../images/sky-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: -50px;
    display: block;
    
}

.logo {

    font-family: Playfair Display, sans-serif;
    font-size: 36px;
    color: #cbd18f;
    text-align: center;
    padding-top: 5%;
}

#quote {
    height: 100px;
    width: 60%;
    font-family: Source Sans Pro;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    color: orange;
    background-color: transparent;
    margin: 50px 0 200px 400px;
    padding: 0;
    
}

.spacer {
    width: 100%;
    height: 50px;
    background-color: transparent;
}

h2 {
    font-size: 48px;
    font-family: Playfair Display, sans-serif;
    text-align: center;
    margin: 0 auto;
    color: orange;
}


#us-container {

  background-color: whitesmoke;
  height: fit-content;
  width: 100%;
  clear: both;
}

.middle-column {

  float: left;
   height: fit-content;
   width: 100%;
    margin: 10px;
    padding: 10px;
    display: inline;
    
    
}

#left-column {
    margin: -10px 20px 0 80px;
    padding-left: 5px;
    
    
    
}

#right-column {

  font-family: Source Sans Pro, sans-serif;
  font-size: 20px;
  text-align: center;
  float: right;
  margin-top: 100px;
  margin-right: 200px;
  padding: 20px;}
  

  
 #pratice-section {
  height: fit-content;
  width: 100%;
  clear: both;
 } 
  

.row {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 20px;
  display: inline;
  clear: both;
}





.column {
  float: left;
  width: 31%;
  margin: 10px;
  padding: 0;
  display: inline;}
  
  

#container-1, #container-2, #container-3 {
    position: relative;
    text-align: center;
    color: white;
    
  }

/** code from W3Schools **/

  .practice-text {
    position: absolute;
    top: 80%;
    left: 50%;
    line-height: 30px;
    font-size: larger;
    font-weight: 500;
    color: orangered;
    transform: translate(-50%, -50%);
  }

  
  #get-involved-section {
    height: fit-content;
    width: 100%;
    clear: both;
  }

  #contact {

  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
  clear: both;
    
    
  }

  

  input[type=text], input[type=email] {
    width: 70%; 
    padding: 12px; 
    border: 1px solid orange; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 20px; 
    margin-bottom: 20px;
    margin-left: 30px;
    resize: vertical 
  }

.label {

  color: orange;
  font-size: 2rem;
  margin-top: 20px; 
    margin-bottom: 20px;
    margin-left: 30px;
  
}

#submit {
font-size: 1.5rem;
  color: orange;
  padding: 12px; 
    border: 1px solid orange; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 20px; 
    margin-bottom: 20px;
    margin-left: 25px;

}

#submit:hover {

background-color: orangered;

}

#address {
  font-family: Source Sans Pro, sans-serif;
  font-size: 20px;
  text-align: center;
  color: orange;
  margin: auto;
  width: 50%;
  padding: 10px;
  
  
}





footer {
    text-align: center;
    margin-bottom: -30px;
    padding: 0;
    background-color: whitesmoke;
    color: white;
  }

  